<form action='/' method='GET'>
  <input value='name' type='text' name='name'>
  <input value='email' type='text' name='email'>
  <input value='password' type='text' name='password'>
  <input type='submit' name='submit'>
</form>