<form action='/' method='POST'>
  <input value='name' type='text' name='name'>
  <input value='email' type='text' name='email'>
  <input value='password' type='text' name='password'>
  <input type='submit' name='submit'>
</form>

<p>
<% User.all.each do |user| %>
  <%= user.name %>
  <%= user.email %>
  <% end %>
</p>
