<!DOCTYPE html>
<html lang = "en-US">
  <head>
    <meta charset = "UTF-8">
    <title>MakersBnb</title>
    <link rel="stylesheet" type="text/css" href="/css/main.css" />
  </head>

  <body>

    <section>
      <h1>MakersBnB</h1>
      <h2>Not a member? Create an account:</h2>

      <div class="content">
      <form action='/' method='POST'>
      <input value='name' type='text' name='name'>
      <input value='email' type='text' name='email'>
      <input value='password' type='text' name='password'>
      <input type='submit' name='submit'>
      </form>
      </div>
    </section>

</body>
</html>
