<form action='/register' method='GET'>
  <input type='submit' name='register' value='Register for an account'>
</form>

<form action='/login' method='GET'>
  <input type='button' name='login' value='Login'>
</form>

<form action='/listings/all' method='GET'>
  <input type='button' name='view_all_listings' value='View all listings'>
</form>
<%= flash[:notice] %>
