<form action='/listings' method='POST'>
<input value='name' type='text' name='name'>
<input value='description' type='text' name='description'>
<input value='price_pn' type='integer' name='price_pn'>
<input type='submit' name='submit'>
</form>